body {
  background-color: #FFDDA2;
}
h1 {
  color: #1270F4;
}
h2 {
  color: #92E21B;
}
p {
  color: #682dd6;
}

.abc {
  background-color: rgba(158, 233, 223, 0.829);
  border: 2px solid rgba(0, 132, 255, 0.493);
  margin: auto;
  padding: 20px;
}

.def {
  background-color: rgba(181, 255, 84, 0.822);
  margin: auto;
}
